/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* Header */

header {
    padding: 20px 0px 0px 20px;
}

header img {
    height: 60px;
    margin-bottom: 30px;
}

li {
    display: inline-block;
    margin-right: 14px;
    color: grey;
}

/* Main */

/* Hero */
.hero {
    height: 500px;
    margin-top: 20px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 60px;
    padding-top: 320px;
}

.title-container {
    width: 600px;
}

.hero h1 {
    color: white;
    font-weight: 400;
    font-size: 26px;
}

.hero h2 {
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.layout {
    padding-bottom: 20px;
    margin-top: 20px;
}

/* Layout */
.article-header {
    padding-top: 20px;
    margin-bottom: 20px;
}

.article-header h2 {
    font-size: 30px;
}

.article-header h3 {
    font-size: 14px;
    font-weight: 300;
    color: grey;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.column-left, .column-right {
    width: 20%;
}

.column-mid {
    width: calc(60% - 40px);
    margin: 0px 20px;
}

.column-left, .column-mid, .column-right {
    height: 500px;
    background-color: lightblue;
    float: left;
}

/* Footer */
footer {
    height: 80px;
    background-color: plum;
    margin-top: 10px;
}