/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.lightgrey-text {
    color: rgb(179, 179, 179);
}

.grey-text {
    color: rgb(68, 68, 68);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* Header */

header {
    padding-top: 20px;
}

header img {
    height: 60px;
    padding-right: 20px;
    margin-bottom: 30px;
    border-right: 1px solid rgb(221, 221, 221);
}

li {
    display: inline-block;
    margin-right: 14px;
}

/* Main */

/* Hero */
.hero {
    height: 500px;
    margin-top: 20px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 320px 60px 0px 60px;
}

.title-box {
    max-width: 600px;
}

.hero h1 {
    color: white;
    font-weight: 400;
    font-size: 26px;
}

.hero h2 {
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.layout {
    padding-bottom: 20px;
    margin-top: 20px;
}

/* Layout */

/* Immagini */
.article-header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.article-header h2 {
    font-size: 30px;
}

.article-header h3 {
    font-size: 14px;
    font-weight: 300;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.column-left, .column-mid, .column-right {
    height: 220px;
    float: left;
    border-radius: 10px;
    background-size: cover; 
    background-position: center;
}

.column-mid {
    width: calc(60% - 40px);
    margin: 0px 20px;
    background-image: url(../img/banner-2.jpg);
}

.column-left {
    width: 20%;
    background-image: url(../img/img-1.jpg);
}

.column-right {
    width: 20%;
    background-image: url(../img/img-3.jpg);
}

/* Testo */
.text-left, .text-mid, .text-right {
    float: left;
    border-radius: 10px;
    background-size: cover; 
    background-position: center;
}

.text-right, .text-left {
    width: 20%;
}

.text-mid {
    width: calc(60% - 40px);
    margin: 0px 20px;
}

.text-box h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

/* Footer */
footer {
    padding: 40px 0px 40px 0px;
    margin-top: 10px;
}

.sign {
    text-align: center;
}

footer .red-text {
    color: rgb(214, 69, 33);
}