/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
}

/* Header */
header {
    height: 100px;
    background-color: palevioletred;
}

/* Main */
.hero {
    height: 400px;
    background-color: burlywood;
    margin-top: 20px;
}

.layout {
    padding-bottom: 20px;
    background-color: rgb(0, 140, 255);
    margin-top: 20px;
}

.row {
    height: 80px;
    background-color: lightblue;
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.column-left, .column-right {
    width: 20%;
}

.column-mid {
    width: calc(60% - 40px);
    margin: 0px 20px;
}

.column-left, .column-mid, .column-right {
    height: 500px;
    background-color: lightblue;
    float: left;
}

/* Footer */
footer {
    height: 80px;
    background-color: plum;
    margin-top: 10px;
}